body {
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0px auto;
    text-align: center;
}

h1 {
    color: blue;
    font-family: 'Brush Script MT';
}

a {
    color: white;
    text-align: center;
    background-color: b0241c;
    text-decoration: none;
    
    padding: 1vh;
}

#logo {
    height: 4vh;
    width: auto;
}